
/* Nav Bar css */
#navbackground{width: 100%;height: 600px;background-image: url('https://img.wallpapersafari.com/desktop/1920/1080/32/43/gKaZ0H.jpg');background-size: cover;}

/* Footer Css */
#footer{width: 100%; height: 300px;background-image: url('https://i5.walmartimages.com/asr/9f50998d-26bf-4120-b405-09a067437245_1.3eb3876d442c191da2503ce29ad1f736.jpeg');background-size: cover;}

/* Movies Css */
.movieCard{display: inline-block; margin: 12px;}

/* comic Css */
.comicCard{display: inline-block; margin: 12px;}

/* characters Css */
.charactersCard{display: inline-block; margin: 12px;}